<!doctype html>
<html lang="de">
<head th:replace="fragments.html :: head(title = 'Admin')"></head>
</head>
<body>

<header class="container"></header>
<nav th:replace="fragments.html :: mainNav"></nav>

<main class="container py-5">
    <div class="row">
        <div class="col">
            <h1>Items</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">ARMORTYPE</th>
                    <th scope="col">PLACE</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">AMOUNT</th>
                    <th scope="col">EDIT</th>
                    <th scope="col">DELETE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i:${items}">
                    <td th:text="${i.id}" />
                    <td th:text="${i.name}" />
                    <td th:text="${i.category}" />
                    <td th:text="${i.armortype}" />
                    <td th:text="${i.place}" />
                    <td th:text="${i.price}" />
                    <td th:text="${i.amount}" />
                    <td><a th:href="@{/item/edit/{id}(id=${i.id})}" class="btn btn-info">Edit</a></td>
                    <td><a th:href="@{/item/delete/{id}(id=${i.id})}" class="btn btn-danger">Delete</a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<footer class="container"></footer>

<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>